@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #323232;
}

input {
  outline: none;
  width: 100%;
  border: none;
  font-size: 1rem;
  transition: 1s;
}

.button-swiper {
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}



.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  top: unset !important;
  left: unset !important;
  bottom: unset !important;
  right: unset !important;
  position: unset !important;
  color: unset !important;
  margin: unset !important;
}

.prod .swiper-pagination {
  margin-top: 10rem !important;
}

.swiper-pagination-bullet-active:after {
  color: #ffffff !important;
}

.prod .swiper-button-prev,
.prod .swiper-button-next {
  display: flex;
  margin-bottom: 5rem !important;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  background-color: #000000ad;
  border-radius: 50%;
  padding: .5rem .7rem;
  color: #ffffff;
  font-size: 17px !important;
}

.my-swiper .swiper-button-prev:after,
.my-swiper .swiper-button-next:after {
  color: rgb(40, 40, 40);
  background-color: #ffffff;
}

.my-swiper .button-swiper {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .button-swiper {
    width: 100%;
    margin: 0 auto;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    display: none !important;
  }

  .prod .swiper-pagination {
    display: none !important;
  }
}